<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index2.css')}}">

</head>
<body>
    


<div class="container">
    <div class="brand-logo">
        <img src="../static/logo.png" alt="John" style="width:100%">
    </div>
    <div class="brand-title">VJTI</div>
    <div class="inputs">
      <label class="reg">ENTER REGISTRATION ID</label>
      <input type="password" placeholder="Registration Id" />
      <div>
        <a href="/stddetails">
            <button type="submit">Submit</button>
        </a>
      </div>
      
    </div>
    
  </div>
</body>
</html>