<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="nav">
        <div>
            <img src="../static/logo.png" id="logo" alt="">
        </div>
    </nav>
    </header>
    <div class="con">
        <div class="head"><br><b><p>WELCOME TO VJTI</p></b>
        Let's check your attendance</div>
        <div>
            <a href="/loginstd">
            <button class="button-81" role="button">Student</button>
            </a>
        </div>
            <div class="btn-2">
                <a href="/loginstaff">
                <button class="button-81" role="button">Staff</button>
                </a>
            </div>
    </div>
</body>
</html>